
  <!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="../src/app/images/aster.png" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>Aster</strong></span><br>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a [routerLink]="['']" routerLinkActive="active" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-dashboard fa-fw"></i>  Home</a>
    <a [routerLink]="['/worksheets']" routerLinkActive="active" class="w3-bar-item w3-button w3-padding"><i class="fa fa-list-alt fa-fw"></i>  Schede di lavoro</a>
    <a [routerLink]="['/users']" routerLinkActive="active" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Clienti</a>
    <a [routerLink]="['/items']" routerLinkActive="active" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Servizi</a>
  </div>
</nav>

