
<div class="w3-main" style="margin-left:300px;margin-top:43px;">


 <header class="w3-container" style="padding-top:22px">

 </header>
 <div class="w3-container">
    <app-calendar-header
  [(view)]="view"
  [(viewDate)]="viewDate"
  [locale]="locale">
</app-calendar-header>



<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    [weekStartsOn]="weekStartsOn"
    [weekendDays]="weekendDays"
    (dayClicked)="dayClicked($event.day)"
    (eventTimesChanged)="eventTimesChanged($event)"
    (beforeViewRender)="beforeMonthViewRender($event)"
    [locale]="locale">
  </mwl-calendar-month-view>

  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventTimesChanged)="eventTimesChanged($event)"
    [locale]="locale">
  </mwl-calendar-week-view>

  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventTimesChanged)="eventTimesChanged($event)"
    [locale]="locale">
  </mwl-calendar-day-view>

</div>
</div>
</div>
