
<table class="table table-hover">
  <thead>
    <th>N</th>
    <th>Consegna</th>
    <th>Cliente</th>
    <th>Modello</th>

  </thead>
  <tbody>

        <tr *ngFor="let worksheet of worksheets">
            <td><a routerLink="/worksheetdetail/{{worksheet.worksheetID}}/{{worksheet.userID}} " routerLinkActive="router-link-active" >{{ worksheet.webID }}</a></td>
            <td>{{worksheet.dateDelivery}}</td>
            <td>-</td>
            <td>{{worksheet.brand}}-{{worksheet.model}}-{{worksheet.type}}-{{worksheet.color}}</td>
          </tr>
  </tbody>
</table>
